<head>
  <%- include('head.ejs'); %>
</head>
<nav>
  <ul>
    <div>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="">About</a>
      </li>
    </div>
    <div>
      <li>
        <a href="login">login</a>
      </li>
      <li>
        <a href="">aanmelden</a>
      </li>
    </div>
  </ul>
</nav>
