<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <header class="home"><%- include('../partials/nav.ejs'); %></header>
    <main>
      <section>
        <h1>Find your magical match</h1>
        <form method="POST" action="/profiel">
          <label id="name" for="name">Naam</label>
          <input name="name" type="text" />
          <label id="age" for="age">Age</label>
          <input name="age" type="number" />
          <label for="genderPreference">Male</label>
          <input name="gender" type="radio" />
          <label for="genderPreference">Female</label>
          <input name="gender" type="radio" />
          <label for="genderPreference">no preference</label>
          <input name="gender" type="radio" />
        </form>
      </section>
    </main>
  </body>
</html>
