<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <header class="home">
      <%- include('../partials/nav.ejs'); %>
      <section>
        <h1>Find your bookworm</h1>
        <p>
          Klaar om liefde te vinden? Vertel ons wat er in jouw boekenkast staat en laat je
          verassen..
        </p>
      </section>
    </header>
  </body>
</html>
