<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <header>
      <%- include('../partials/nav.ejs'); %>
      <h1>Log in to your account</h1>
    </header>
    <main>
      <form action="">
        <label for="username">username</label>
        <input type="text" placeholder="Username" />
        <label for="password">Password</label>
        <input type="password" placeholder="Enter your password" />
        <label for="">
          <input type="checkbox" checked="checked" name="remember" />
          Remember me
        </label>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
