<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <header class="home"><%- include('../partials/nav.ejs'); %></header>
    <section></section>
  </body>
</html>
